.Menu {
  background: #282828;
  padding: 0;
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    &:nth-child(1) {
      border-bottom: 3px solid #ccc;
    }
    a {
      text-decoration: none;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: normal;
      padding: 15px 11.6px;
      display: block;
      font-size: 15px;
      white-space: nowrap;
    }
    &:hover {
      a {
        color: #ccc;
      }
    }
  }
  &__help {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #121212;
    z-index: 101;
    
  }
  &__sub {
    display: flex;
    flex-wrap: wrap;
  }
  &__item1 {
    width: 20%;
    a {
      display: block;
      padding: 10px;
      font-weight: normal;
      text-transform: none;
      font-size: 14px;
      &:hover {
        color: #ff9601;
      }
    }
  }
}
.Menu__item:hover .Menu__help {
  display: block;
}
