.SidebarTitle {
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  color: #ff9601;
  border-bottom: 2px dashed #5d5d5d;
  font-size: 25px;
  font-family: "roboto";
  font-weight: 300;
  text-transform: uppercase;
  text-transform: uppercase;
}
